@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: rgb(218, 213, 213);
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
